:root {
    --accent-color: #2196f3;
    --text-color-black: #212121;
    --text-color-gray: #757575;
    --white-color: #ffffff;
    --absolute-black: #000000;
    --grid-row-gap: 30px;
    --grid-column-gap: 30px;
}

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: var(--text-color-gray);
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}



/* header */

.header {
    background-color: var(--white-color);
    border-bottom: #ECECEC 1px solid;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* logo webstudio */

.header-logo {
    margin-right: 93px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--absolute-black);
}

.logo-accent {
    color: var(--accent-color);
}

/* nav-links */

.nav-list {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.main-nav {
    display: flex;
    align-items: center;
    position: relative;
}


.nav-item {
    margin-right: 50px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-list .current {
    color: var(--accent-color);
}

.nav-link  {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: inherit;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.nav-link.current:after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    line-height: 32px;
    background-color: #2196F3;
    border-radius: 2px;
    bottom: -32px;

}

.nav-link.current {
    left: 0;
    bottom: 0;
    position: relative;
    
}




.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
    
}






/* header address */

.header-list {
    margin-left: auto;
    list-style: none;
    display: flex;
}

.header-item {
    margin-right: 50px;
}

.header-item:last-child {
    margin-right: 0;
}

.header-address {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-color-gray);
    align-items: center;
}

.header-address:hover,
.header-address:focus {
    color: var(--accent-color);
}

/* Main */

/* hero */

 .hero {
    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px; 
    height: 600px;
    width: 1600px;
}

.hero-title {
        color: var(--white-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-bottom: 30px;
}

.hero-btn {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: #2196f3;
    color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
}


.hero-btn:hover,
.hero-btn:focus {
    background-color: #188ce8;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* sections main title */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--text-color-black);
    margin-bottom: 50px;
    text-align: center;
}

/* details section */

.details-section {
    background-color: var(--white-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.details-item {
    margin-right: 30px;
}


.details-item:last-child {
    margin-right: 0;
}

.details-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}

.details-title {
    width: 270px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-color-black);
    margin-bottom: 10px;
    text-transform: uppercase;
}

.details-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color-gray);
}

/* Our work section */

.work-section {
    background-color: var(--white-color);
    padding-bottom: 94px;

}

.work-list {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-right: 30px;
}

.work-item {
    margin-right: 30px;
}

/* Our Team Section */

.team-section {
    background-color: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

.team-item {
    margin-left: 0;
    background-color: #FFFFFF;
}

.team-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--text-color-black);
    margin-bottom: 10px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--text-color-gray);
    margin-bottom: 16px;
}

.team-container {
    padding-top: 30px;
    padding-bottom: 30px;

}

.team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
     0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/* clients */
.section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
}


/* Footer */

.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Logo */

.footer-logo {
    display: inline-block;
    font-family: Raleway, serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--white-color);
    margin-bottom: 20px;
}

/* Footer address */

.address-list {
    list-style: none;
    padding-left: 0;
}

.address-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
    color: var(--white-color);
    margin-bottom: 9px;
}

.address-item:last-child {
    margin-bottom: 0px;
}

.address-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

/* Portfolio section */
.portfolio-main {
    background-color: var(--white-color);
}

.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* nav buttons */

.btn-list {
    list-style: none;
    display: flex;
    text-align: center;
    border-radius: 2px;
    justify-content: center;
    margin-right: 8px;
    margin-bottom: 50px;
    padding-left: 0;
    
}

.portfolio-button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background-color: #f5f4fa;
    color: var(--text-color-black);
    border-radius: 4px;
    border: 1px solid #F5F4FA;
    padding: 6px 22px 6px 22px;
   
}

.btn-item {
    margin-right: 8px;
}


.portfolio-button:hover,
.portfolio-button:focus {
    background-color: #2196f3;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/* Portfolio plates */

.portfolio-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 0;
    padding-right: 0;
}

.portfolio-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color-black);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color-black);
    padding-bottom: 4px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--text-color-gray);
    margin-bottom: 4px;

}

.portfolio-container {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-right: 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
   
}

/* Overlay */

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), 
        url(../images/people-working.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}

/* Icons */

.icon-mail {
margin-right: 10px;
fill: currentColor;
}

.icon-mail:hover,
.icon-mail:focus {
    color: var(--accent-color);
}

.icon-telefon {
   margin-right: 10px;
   fill: currentColor;
}

.icon-telefon:hover,
.icon-telefon:focus {
    color: var(--accent-color);
}

.details-icon-sputnik {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
}

.details-icon-watch {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
}

.details-icon-nout {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
}

.details-icon-astronaut {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
}


.team-social-items {
display: flex;
padding-left: 32px;
padding-right: 32px;


}

.team-social-item:not(:last-child) {
    margin-right: 10px;
    
}

.team-social-item {
    list-style: none;
    display: flex;
    margin-left: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    
   
    
}

.team-social-link {
    display: flex;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    list-style: none;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
}


.team-social-link:hover,
.team-social-link:focus {
    background-color: #2196F3;
    fill: #FFFFFF; 
}


.section-title-clients {
    color:  #212121;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.client-item {
    flex-basis: calc(100% / 6-30px);
    margin-left: 30px;
    color: #AFB1B8;
}


.client-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: calc(-1 * 30px);
}

.clients {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: inherit;
}

.client-logo {
    fill: currentColor;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients:hover,
.clients:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.join {  
width: 145px;
height: 16px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;

}

.footer-icon-social {
    padding-right: 10px;

}

.footer-team-social {
    display: flex;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    list-style: none;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    fill: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
}


.container-footer-social {
    display: flex;
    align-items: baseline;
}

.porfolio-item:hover,
.porfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}



.container-clients {
        margin-right: auto;
        margin-left: auto;
        width: 1200px;
        padding-right: 15px;
        padding-left: 15px;
}

.section-title-clients {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
   padding-bottom: 50px;
}


.footer-flex {
    display: flex;
    align-items: baseline;
}

.join-list {
    padding: 0;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 70px;
}

.footer-team-social:hover,
.footer-team-social:focus {
    background-color: #2196F3;
    fill: #FFFFFF;
}

.footer-team-social-items {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
}



/* Десктопные приложения */

.work-text {
position: absolute;
    width: 100%;
    height: 70px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;    
    background: rgba(47, 48, 58, 0.8);
}




/* Modal */

.backdrop {
    /* position:fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2) ;
    transition: opacity 0.5s, visibility 0.5s;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  height: 581px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);


}

.modal-close-button {
   position: absolute;
   top: 17px;
   right: 17px;
   width: 30px;
   height: 30px;
   background: #FFFFFF;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
   cursor: pointer;
}

/* Porfolio Overlay */

.product-thumb {
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 404px;
}

.porfolio-item {

}

.portfolio-overlay {

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.03em;
color: #FFFFFF;
top: 0;
right: 0;
width: 100%;
height: 100%;
padding: 64px 24px;
background-color: rgba(33, 150, 243, 0.9);
transform: translateY(101%);
transition: transform 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
opacity: 0;
}

.portfolio-item:hover .portfolio-overlay{
    transform: translateY(0);
}